body {  
    background-color: #110f0f;
    padding: 20px;
}

.grid-container {
    display: grid;
    align-items: center;
    justify-content: center;  
    border-radius:15px;
}

.calculator-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 1px;
    border-radius:15px;
    background-color: #999;
} 

.calculator-grid button {
    font-size: 25px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    border-radius:15px;
    font-family: 'DM Mono', monospace;
} 

textarea {
  grid-column: span 4;
  font-family: 'DM Mono', monospace;
  font-size: 25px;
  color:white;
  text-align: end;
  background-color: #35374B;
  border-radius:15px;
  padding: 15px;
  border: none;
}

.calculator-grid button:nth-child(n+18) {
    background-color: #50727B; 
}


button:hover,
.calculator-grid button:nth-child(n+18):hover {
    background-color: #78A083;
    color: white;
    border-radius:15px;
    transition: 0.2s;
}